<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rivendell.pushtestandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <!-- here use your package name -->
    <uses-permission android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.rivendell.pushtestandroid" />
    <permission
        android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.rivendell.pushtestandroid"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PushTestAndroid">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- customized receiver -->
        <receiver android:name="com.rivendell.pushtestandroid.MyPushMessageReceiver">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
                <!-- huawei proxy to receive data message
                 https://developer.huawei.com/consumer/en/doc/development/HMS-Guides/push-introduction -->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <!-- baidu push components START -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />

                <!-- optional, which will keep alive & increase notification speed -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <!-- Push server receive client request -->
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>

        <!-- raise the meizu & xiaomi arrival rate-->
        <service
            android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true" />

        <!-- Android N ContentProvider -->
        <provider
            android:name="com.baidu.android.pushservice.PushInfoProvider"
            android:authorities="com.rivendell.pushtestandroid.bdpush"
            android:exported="true"
            android:process=":bdservice_v1"
            android:protectionLevel="signature"
            android:writePermission="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.rivendell.pushtestandroid" />

        <!-- job scheduler to raise arrival rate -->
        <service
            android:name="com.baidu.android.pushservice.job.PushJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":bdservice_v1" />
        <!-- baidu push components END -->

        <!-- huawei proxy START -->
        <activity
            android:name="com.baidu.android.pushservice.hwproxy.HwNotifyActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="bdpush"
                    android:path="/hwnotify"
                    android:scheme="baidupush" />
            </intent-filter>
        </activity>

        <!-- huawei Hms Message Service -->
        <service
            android:name="com.baidu.android.pushservice.HmsPushPatchMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- huawei proxy END -->


        <!-- baidu API Key -->
        <meta-data
            android:name="api_key"
            android:value="RcpMoaB5nWTt54ffMeuydELo" />
    </application>

</manifest>